* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(90deg, #2d4595, #8395dd, #8395dd, #2d4595);
  margin: 0;
  font-family: "Poppins";
  color: #0b0824;
  margin: auto;
  overflow-x: hidden;
  text-align: center;
}

a {
  color: #0b0824;
  margin: 0 10px;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  color: #0b0824;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.5rem;
  color: #0b0824;
  justify-content: center;
}

p {
  font-size: 1rem;
  color: #0b0824;
  margin: 0.7rem;
}
p .white {
  color: #f8f8f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 1.5rem;
  opacity: 70%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
header #portfolio {
  font-weight: bold;
  font-size: 1.25rem;
}
header nav {
  padding-top: 0.5rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding-bottom: 6rem;
  padding-bottom: 15rem;
  animation: fade 2s linear;
}
article .svg {
  position: absolute;
  bottom: 8rem;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
  padding-top: 8rem;
  padding-bottom: 6rem;
}
section .contact-option {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

img {
  display: flex;
  justify-content: center;
}

.shadow {
  box-shadow: 5px 5px 7px #232327;
}

video {
  box-shadow: 5px 5px 7px #232327;
}

table {
  border-spacing: 20px;
  color: #0b0824;
}
table thead {
  font-weight: bold;
}
table thead td {
  padding-top: 2%;
  border-radius: 2%;
  border: 1px solid #0b0824;
  padding: 0.8rem;
  background-image: linear-gradient(180deg, #8395dd, #e2e0e8, #8395dd);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 20px;
  height: 20px;
  width: 170px;
  background-image: linear-gradient(180deg, #afa2ff, #afa2ff, #2d4595);
  border: 1px solid #0b0824;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Desktop version*/
@media (min-width: 900px) {
  header {
    flex-direction: row;
  }
  h1 {
    justify-content: center;
    padding-top: 6rem;
    margin: 1rem;
  }
  article {
    display: flex;
    align-content: center;
    margin: 100px auto;
    width: 800px;
    height: 700px;
    padding: 0.5rem;
  }
  section {
    display: flex;
    align-items: center;
    margin: 55px auto;
    padding: 100px;
    width: 800px;
    height: 900px;
  }
  section table {
    border-spacing: 35px;
  }
  section .contact-option {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  section .button {
    margin-top: 5rem;
  }
  section .button:hover {
    background-image: linear-gradient(180deg, #afa2ff, #2d4595);
  }
}/*# sourceMappingURL=style.css.map */